ng-otp-input {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    overflow: scroll !important;
}

::-webkit-scrollbar {
    width: 0 !important;
}

#EnterCode {
    border-bottom: 2px solid var(--highlight-color-focused, #0054e9)
}