.fade {
    transition: opacity .15s linear !important;
}

.modal-backdrop.show {
    display: none !important;
}

.inviteUsers {
    display: block !important;
    opacity: 1 !important;
    background: #000000b0 !important;
}